<ion-content>
  <ion-grid col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
    <ion-row justify-content-center>
      <ion-col>
        <ion-card>
          <ion-card-title text-capitalize text-center color="danger">
            Login
          </ion-card-title>
          <ion-card-content>
            <form [formGroup]='login' (ngSubmit)="onLogin(login.value)" novalidate *ngIf="login">
              <ion-list no-lines>
                <ion-item>
                  <ion-label stacked color="danger">Email</ion-label>
                  <ion-input formControlName="email" name="email" type="text" spellcheck="false" autocapitalize="off"
                  required>
                  </ion-input>
                </ion-item>
                <p ion-text *ngIf="!isValidEmail() && login.controls['email'].errors?.required" color="primary" padding-left>
                  email is required
                </p>
                <p ion-text *ngIf="!isValidEmail() && login.controls['email'].errors?.pattern" color="primary" padding-left>
                  Please enter a valid email address
                </p>
                <ion-item>
                  <ion-label stacked color="danger">Password</ion-label>
                  <ion-input formControlName="password" name="password" type="password" required>
                  </ion-input>
                </ion-item>
                <p ion-text *ngIf="!isValidPassword() && login.controls['password'].errors?.required" color="primary" padding-left>
                  Password is required
                </p>
                <p ion-text *ngIf="!isValidPassword() && login.controls['password'].errors?.minlength" color="primary" padding-left>
                  Password is must be 8 characters or long
                </p>
              </ion-list>
              <ion-row responsive-sm>
                  <button ion-button type="submit" block [disabled]="!login.valid" color="danger" text-capitalize>Login</button>
              </ion-row>
          </form>
          <button ion-button (click)="onSignup()" color="light" text-capitalize block>Signup</button>
        </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
