<ion-header>
  <ion-navbar>
    <ion-title>
      Basic Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar color="primary" [(ngModel)]="searchText" placeholder="Search by city name"></ion-searchbar>
      </ion-col>
      <ion-col>
        <button ion-button (click)="search()" color="danger">Search</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let c of collection">
      <ion-item *ngIf="collection">
        <ion-col>
          <img src="{{c.collection.image_url}}" alt="Title Image">
        </ion-col>
        <ion-col>
            {{c.collection.title}}
            {{c.collection.description}}
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-grid>
  <!-- <ion-list [virtualScroll]="collection" approxItemHeight="49px" approxItemWidth="50px">
      <ion-item *virtualItem="let item" >
        {{ item.collection.title }}
      </ion-item>
  </ion-list> -->
</ion-content>
