<ion-content>
    <div class="homeDiv-custom">
        <div class="search-bar">
            <ion-col class="margin:20px">
                <div class="logo-box search-bar">
                    <img src="http://www.techaffinity.com/images/techaffinity-logo.png" />
                </div>
            </ion-col>
            <ion-row>
                <ion-col col-3>
                    <ion-searchbar color="primary" [(ngModel)]="searchByCityName" placeholder="Search by city name"></ion-searchbar>
                </ion-col>
                <ion-col col-7>
                    <ion-searchbar color="primary" [(ngModel)]="searchText" placeholder="Search restaurant"></ion-searchbar>
                </ion-col>
                <ion-col col-2 text-center>
                    <button ion-button (click)="search()" color="primary">Search</button>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <!-- <ion-grid *ngIf="restaurants">
      <ion-row *ngFor="let r of restaurants">
        <ion-item>
          <ion-col>
            <img height="150" width="150" src="{{r.restaurant.featured_image}}" alt="No featured image" (click)="moveTo(r.restaurant.id)" >
          </ion-col>
          <ion-col>
            Name :{{r.restaurant.name}}
          </ion-col>
          <ion-row>
            popular cuisines: {{r.restaurant.cuisines}}
          </ion-row>
        </ion-item>
      </ion-row>
    </ion-grid> -->

   <ion-row *ngIf="restaurants && city" >
    Restaurants by Location: <span [style.color]="'green'">{{city.name}}</span>
   </ion-row>

    <ion-grid class="custom-grid">
        <ng-template #loader>
            <div class="absolute-vertical">
                <ion-spinner class="Absolute-Center" text-center class="ios"></ion-spinner>
            </div>
        </ng-template>
        <ion-row *ngIf="restaurants; else loader">
          <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let r of restaurants">
            <ion-card (click)="moveTo(r.restaurant.id)">
              <img src="{{r.restaurant.featured_image}}" *ngIf="r.restaurant.featured_image !== '';else elsecontent" />
              <ng-template #elsecontent>
                no image
                <!-- <img src="/assets/icon/favicon.ico" (click)="moveTo(r.restaurant.id)"/> -->
              </ng-template>
              <ion-card-content>
                <ion-card-title>
                  {{r.restaurant.name}}
                </ion-card-title>
                <p>
                  Cuisines:{{r.restaurant.cuisines}}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
