<ion-content>
  <div class="homeDiv-custom">
        <ion-row>
          <ion-col class="margin:20px">
            <!-- <img src="http://www.techaffinity.com/images/techaffinity-logo.png" /> -->
          </ion-col>
          <ion-col *ngIf="userProfile">
            <button ion-button (click)="presentPopover($event)" color="light" float-right icon-end outline text-capitalize>
              {{userProfile.firstName}}
              <ion-icon name="ios-arrow-down-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-grid text-center>
          <ion-row wrap>
              <ion-col>
                  <ion-searchbar style="min-width:250px" [(ngModel)]="searchByCityName"></ion-searchbar>
              </ion-col>
              <ion-col>
                  <ion-searchbar style="min-width:250px" [(ngModel)]="searchByRestaurantName"></ion-searchbar>
              </ion-col>
              <ion-col>
                  <button ion-button (click)="search()" color="danger">Search</button>
              </ion-col>
          </ion-row>
        </ion-grid>
  </div>

<ion-row *ngIf="resultedRestaurants" >
  Top 10 search Results for&nbsp;<span [style.color]="'green'">{{resultedSearch}}</span>
</ion-row>

<ion-grid class="custom-grid" *ngIf="resultedRestaurants">
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let resultR of resultedRestaurants">
      <ion-card (click)="moveToRestaurantDetail(resultR.restaurant.id)">
        <img src="{{resultR.restaurant.featured_image}}" *ngIf="resultR.restaurant.featured_image !== '';else elsecontent" />
        <ng-template #elsecontent>
          <img src="/assets/imgs/default.png"/>
        </ng-template>
        <ion-card-content>
          <ion-card-title>
            {{resultR.restaurant.name}}
          </ion-card-title>
          <p>
            Cuisines:{{resultR.restaurant.cuisines}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- <ion-row *ngIf="restaurants && city" >
  Restaurants near&nbsp;<span [style.color]="'green'" text-lowercase>{{city.name}}</span>
  </ion-row> -->

  <ion-card *ngIf="restaurants && city" >
      <ion-card-header>
        Restaurants
      </ion-card-header>
      <ion-card-content>
        Restaurant near&nbsp;<span [style.color]="'green'" text-lowercase>{{city.name}}</span>
      </ion-card-content>
  </ion-card>

  <ion-grid class="custom-grid">
      <ng-template #loader>
          <div class="absolute-vertical">
              <ion-spinner class="Absolute-Center" text-center class="ios"></ion-spinner>
          </div>
      </ng-template>
      <ion-row *ngIf="restaurants; else loader">
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let r of restaurants">
          <ion-card (click)="moveToRestaurantDetail(r.restaurant.id)">
            <img src="{{r.restaurant.featured_image}}" *ngIf="r.restaurant.featured_image !== '';else elsecontent" />
            <ng-template #elsecontent>
              <img src="/assets/imgs/default.png"/>
            </ng-template>
            <ion-card-content>
              <ion-card-title>
                {{r.restaurant.name}}
              </ion-card-title>
              <p>
                Cuisines:{{r.restaurant.cuisines}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-card *ngIf="city" >
    <ion-card-header>
      Collections
    </ion-card-header>
    <ion-card-content>
      Explore curated lists of top restaurants, cafes, pubs, and bars in and around <span [style.color]="'green'" text-lowercase>{{city.name}}</span> , based on trends
    </ion-card-content>
  </ion-card>

  <ion-grid class="custom-grid">
      <ng-template #loader>
          <div class="absolute-vertical">
              <ion-spinner class="Absolute-Center" text-center class="ios"></ion-spinner>
          </div>
      </ng-template>
      <ion-row *ngIf="collections; else loader">
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let c of collections">
          <ion-card (click)="moveToRestaurantListByCollection(c.collection.collection_id)">
            <img src="{{c.collection.image_url}}" *ngIf="c.collection.image_url !== '';else elsecontent" />
            <ng-template #elsecontent>
              <img src="/assets/imgs/default.png"/>
            </ng-template>
            <ion-card-content>
              <ion-card-title>
                {{c.collection.title}}
              </ion-card-title>
              <p>
                {{c.collection.description}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-row *ngIf="categories; else loader">
    <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let cat of categories">
      <ion-card (click)="moveToRestaurantListByCategory(cat.categories.id)">
        <ion-card-content>
            {{cat.categories.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
