<ion-header>
  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid col-8 col-md-4 offset-md-2>
    <ion-row>
      <ion-col>
        <form [formGroup]='register' (ngSubmit)="onSignup(register.value)" novalidate *ngIf="register">
          <ion-list no-lines>
              <ion-item>
                <ion-label stacked color="primary">First Name</ion-label>
                <ion-input formControlName="firstName" name="firstName" type="text" spellcheck="false" autocapitalize="off"
                required>
                </ion-input>
              </ion-item>
              <p ion-text *ngIf="!isValidFirstName() && register.controls['firstName'].errors?.required" color="danger" padding-left>
                First Name is required
              </p>
              <ion-item>
                <ion-label stacked color="primary">Last Name</ion-label>
                <ion-input formControlName="lastName" name="lastName" type="text" spellcheck="false" autocapitalize="off"
                required>
                </ion-input>
              </ion-item>
                <p ion-text *ngIf="!isValidLastName() && register.controls['lastName'].errors?.required" color="danger" padding-left>
                  Last Name is required
                </p>
              <ion-item>
                <ion-label stacked color="primary">DOB</ion-label>
                <ion-input formControlName="dob" name="dob" type="date" spellcheck="false" autocapitalize="off"
                required>
                </ion-input>
              </ion-item>
                <p ion-text *ngIf="!isValidDob() && register.controls['dob'].errors?.required" color="danger" padding-left>
                  Date of Birth is required
                </p>
              <ion-item>
              <ion-label stacked color="primary">Email</ion-label>
              <ion-input formControlName="email" name="email" type="text" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
            <p ion-text *ngIf="!isValidEmail() && register.controls['email'].errors?.required" color="danger" padding-left>
              Email is required
            </p>
            <p ion-text *ngIf="!isValidEmail() && register.controls['email'].errors?.pattern" color="danger" padding-left>
                Please enter a valid email address
              </p>
            <ion-item>
              <ion-label stacked color="primary">Password</ion-label>
              <ion-input formControlName="password" name="password" type="password" required>
              </ion-input>
            </ion-item>
            <p ion-text *ngIf="!isValidPassword() && register.controls['password'].errors?.required" color="danger" padding-left>
              Password is required
            </p>
            <p ion-text *ngIf="!isValidPassword() && register.controls['password'].errors?.minlength" color="danger" padding-left>
              Password is must have a minimum of 8 characters
            </p>
            <ion-item>
              <ion-label stacked color="primary">Mobile</ion-label>
              <ion-input formControlName="mobile" name="mobile" type="number" spellcheck="false" autocapitalize="off"
              required>
              </ion-input>
            </ion-item>
            <p ion-text *ngIf="!isValidMobile() && register.controls['mobile'].errors?.required" color="danger" padding-left>
            mobile number is required
            </p>
            <p ion-text *ngIf="!isValidMobile() && register.controls['mobile'].errors?.minlength" color="danger" padding-left>
            mobile number must have 10 numbers
            </p>
          </ion-list>
          <ion-row responsive-sm>
            <ion-col>
              <button ion-button type="submit" block [disabled]="!register.valid" >Register</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
